@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: PTSerif;
  src: url("./assets/fonts/PTSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  /* colors */
  --color-primary: #6145ae; /* cosmic-purple - kosmiczny fiolet  old: 7c4dff*/
  --color-primary-hover: #9e7cff; /* Jaśniejszy fiolet dla hover */
  --color-secondary: #ff7043; /* deep-orange - głęboki pomarańcz */
  --color-secondary-hover: #ff916b; /* Jaśniejszy pomarańcz dla hover */
  --color-accent: #b388ff; /* light-purple - jasny fiolet, subtelny */
  --color-accent-hover: #d1c1ff; /* Jaśniejszy fiolet dla hover */
  --color-success: #28a745;
  --color-success-hover: #4ad06d; /* Jaśniejsza zieleń dla hover */
  --color-warning: #cc3300;
  --color-warning-hover: #ff4400; /* Jaśniejsza czerwień/pomarańcz dla hover */
  --color-background: #e8eaf6; /* pale-indigo - jasny indygo */
  --color-white: #efefee;
  --color-dark: #1a237e; /* navy - głęboki granat dla tekstu */
  --color-dark-hover: #3949ab; /* Jaśniejszy granat dla hover */

  /* fonts */
  --font-ptserif: PTSerif;
  --font-lato: Lato;
  --font-montserrat: Montserrat;
  --font-quicksand: Quicksand;
  --font-poppins: Poppins;
}
